*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid {padding: 0;}
::selection { background-color:#5A13F2; color:#fff;}
a , button {color: #fff;}
/*start of all sections title*/
.section-title h1 {position:relative;}
/*overlay letter at section title*/
.section-title h1::after
{
    content:'';
    position: absolute;
    left : 0;
    right:0;
    margin :auto;
    opacity: 0.1;
    font-size: 80px;
    bottom: 0;
}
/*end of all sections title*/
/*end of main*/

/*start of progress width bar*/
#progress
{
    position: fixed;
    height: 5px;
    background: #138AF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(218deg, #AB05F2 0%, #138AF2 50%);
    background: linear-gradient(218deg, #AB05F2 0%, #138AF2 50%);
    z-index: 9999;
    border-radius: 0;
}
/*end of progress width bar*/

/*start of navbar*/
.navbar-brand {width: 5%;}
/*end of navbar*/

/*start of header*/
.header-art {text-align: center;}
header
{
    background: rgb(90,19,242);
    background: linear-gradient(218deg, #5a13f2 0%, #c004d9 50%);
    border-radius: 0% 0% 0% 100%/150% 0% 0% 150%;
    -webkit-border-radius: 0% 0% 0% 100%/150% 0% 0% 150%;
    -moz-border-radius: 0% 0% 0% 100%/150% 0% 0% 150%;
    -ms-border-radius: 0% 0% 0% 100%/150% 0% 0% 150%;
    -o-border-radius: 0% 0% 0% 100%/150% 0% 0% 150%;
    animation: change 8s infinite ease ;
    -webkit-animation: change 8s infinite ease ;
    position: relative;
    background-size: 150% 100%;
    padding: 6% 0;
}

@keyframes change
{
    0% 
    {
     background-position: 0 50%;
    }
    50% 
    {
     background-position: 100% 50%;
    }
    100% 
    {
        background-position: 0 50%;
    }
}
/*end of header*/

/*start of about me section*/
#aboutMe {padding: 6% 0;}
#aboutMe .section-title h1::after {content:'A';}
.about-me-art {text-align: center;}
#aboutMeData h2 span , .contact-title h1 span 
{
    position: relative;
}
#aboutMeData h2 span svg , .contact-title h1 span svg
{
    position: absolute;
    top: -4%;
    left: -21px;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    opacity: 0.5;
    z-index: -1;

}
.social-data li {display: inline;}

.dawnload-cv
{
 background-color: #138AF2;
 color: #fff;
}
/*end of about me section*/

/*start of services*/
.services .section-title h1::after {content:'S';}
.services-content 
{
    background: #138AF2;
    /*fallbackforoldbrowsers*/background: -webkit-linear-gradient(218deg, #AB05F2 30%, #138AF2 100%);
    background:linear-gradient(218deg, #AB05F2 30%, #138AF2 100%);
    background-size: 150% 100%;
    padding: 10px;
    position: relative;
    z-index: 1;
    transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    border-radius: 0 25px 0 25px;
    animation: change1 3s infinite ease ;
    -webkit-animation: change1 3s infinite ease ;
}
@keyframes change1
{
    0% 
    {
     background-position: 0 50%;
     
    }
    50% 
    {
     background-position: 100% 50%;
    }
    100% 
    {
        background-position: 0 50%;
    }
}
.services-content:hover 
{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.services-overlay 
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: polygon(0 0, 100% 0, 100% 65%, 0 30%);
    background-color: red;
    z-index: -1;
    transition: all 0.5s ease 0.2s;
    -webkit-transition: all 0.5s ease 0.2s;
    -moz-transition: all 0.5s ease 0.2s;
    -ms-transition: all 0.5s ease 0.2s;
    -o-transition: all 0.5s ease 0.2s;
    opacity: 0.3;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
}
.services-content:hover .services-overlay 
{
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 65%);
    opacity: 0.8;
}

/*end of services*/

/*start of projects*/
#projects .section-title h1::after {content:'P';}
.project {padding: 5px;}
.projects-list li 
{
    display: inline;
    padding: 0 5px;
    cursor: pointer;
    opacity: 0.4;
}
.projects-list li.active
{
    opacity: 1;
    color: #138AF2;
}
.project-img {overflow: hidden;}
.project-img img
{
    transition: transform ease 1.5s;
    -webkit-transition: transform ease 1.5s;
    -moz-transition: transform ease 1.5s;
    -ms-transition: transform ease 1.5s;
    -o-transition: transform ease 1.5s;
}
.project-deatils
{
    cursor: pointer;
}
.project-deatils:hover .project-img img
{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
/*end of projects*/


/*start of contact us */
/*start of form*/
#contact .section-title h1::after {content: 'F';}
.form .form-group
{
    position: relative;
    overflow: hidden;
}
.form  input
{
    width: 100%;
    height: 100%;
    border: none;
    padding: 20px 0 0 0;
    outline: none;
}

.form .label-content
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    pointer-events: none;
    border-bottom: solid 1px #969696;
    
}
.form  .label-content::after
{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: -1px;
    border-bottom: 2px solid #138AF2;
    transform: translateX(-101%);
    -webkit-transform: translateX(-101%);
    -moz-transform: translateX(-101%);
    -ms-transform: translateX(-101%);
    -o-transform: translateX(-101%);
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
}
.span-data 
{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.form input:focus + .label-content  .span-data , form input:valid + .label-content  .span-data 
{
    transform: translateY(-70%);
    -webkit-transform: translateY(-70%);
    -moz-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    -o-transform: translateY(-70%);
    color:  #138AF2;
}
.form input:focus + .label-content::after , form input:valid + .label-content::after 
{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}
.form input:invalid + .label-content::after 
{
    border-bottom: solid 1px red;
}
/*end of form*/
/*end of contact us*/


/*start of footer*/
footer
{
    background: rgb(90,19,242);
    background: linear-gradient(218deg, #5a13f2 0%, #c004d9 50%);
}
/*end  of footer*/

/*respnosive screens (1024 , 768, 425, 375, 320)*/
/*start of mediaquery*/
@media only screen and (max-width: 426px) {
    /*navbar*/
    .navbar-brand{width: 15%;}
    /*header*/
    header
    {
        border-radius: 0% 0% 0% 60%/0 0 0 40%;
        -webkit-border-radius: 0% 0% 0% 60%/0 0 0 40%;
        -moz-border-radius: 0% 0% 0% 60%/0 0 0 40%;
        -ms-border-radius: 0% 0% 0% 60%/0 0 0 40%;
        -o-border-radius: 0% 0% 0% 60%/0 0 0 40%;
        background-size: 200% 100%;
}
}