*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid {padding: 0;}
::selection { background-color:#5A13F2; color:#fff;}
a , button {color: #fff;}
/*start of all sections title*/
.section-title h1 {position:relative;}
/*overlay letter at section title*/
.section-title h1::after
{
    content:'';
    position: absolute;
    left : 0;
    right:0;
    margin :auto;
    opacity: 0.1;
    font-size: 80px;
    bottom: 0;
}
/*end of all sections title*/
/*end of main*/

/*start of progress width bar*/
#progress
{
    position: fixed;
    height: 5px;
    background: #138AF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(218deg, #AB05F2 0%, #138AF2 50%);
    background: linear-gradient(218deg, #AB05F2 0%, #138AF2 50%);
    z-index: 9999;
    border-radius: 0;
}
/*end of progress width bar*/

/*start of navbar*/
.navbar-brand {width: 5%;}
nav{
    transition: all ease 0.3s ;
    -webkit-transition: all ease 0.3s ;
    -moz-transition: all ease 0.3s ;
    -ms-transition: all ease 0.3s ;
    -o-transition: all ease 0.3s ;
}
nav.scrolled {
    background-color: #00000085;
}
.nav-item.active a
{
    color: #4CB1F7 !important;
    font-weight: 600;
    border-bottom: solid 1px;
    border-width: 80%;
}
/*end of navbar*/

/*start of header*/
.header-art {text-align: center;}
header
{
    background: #5a13f2;
    background: linear-gradient(218deg, #5a13f2 0%, #c004d9 50%);
    border-radius: 0% 0% 0% 100%/150% 0% 0% 150%;
    -webkit-border-radius: 0% 0% 0% 100%/150% 0% 0% 150%;
    -moz-border-radius: 0% 0% 0% 100%/150% 0% 0% 150%;
    -ms-border-radius: 0% 0% 0% 100%/150% 0% 0% 150%;
    -o-border-radius: 0% 0% 0% 100%/150% 0% 0% 150%;
    animation: change 8s infinite ease ;
    -webkit-animation: change 8s infinite ease ;
    position: relative;
    background-size: 150% 100%;
    padding: 6% 0;
}

@keyframes change
{
    0% 
    {
     background-position: 0 50%;
    }
    50% 
    {
     background-position: 100% 50%;
    }
    100% 
    {
        background-position: 0 50%;
    }
}
/*end of header*/

/*start of about me section*/
#aboutMe {padding: 6% 0;}
#aboutMe .section-title h1::after {content:'A';}
.about-me-art {text-align: center;}
#aboutMeData h2 span , .contact-title h1 span 
{
    position: relative;
}
#aboutMeData h2 span svg , .contact-title h1 span svg
{
    position: absolute;
    top: -4%;
    left: -21px;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    opacity: 0.5;
    z-index: -1;

}
.social-data li {display: inline;}

.dawnload-cv
{
 background-color: #138AF2;
 color: #fff;
}

.experince-data , .education-data
{
    border: solid 1px #000;
}
.experince-data-content , .education-data-content
{
    border-left: solid 1px #000;
}
.experince-data-content  p , .education-data-content p
{
    position: relative;
}
.experince-data-content p::before , .education-data-content p::before
{
    content: '*';
    position: absolute;
    top: 15%;
    left: -9.5%;
}
/*end of about me section*/

/*start of services*/
.services {background-color: #cecece;}
.services .section-title h1::after {content:'S';}
.services-content 
{
    position: relative;
    margin: 10px;
    background-color: #3a3a3a;
    border-radius: 20px;
    transform-style: preserve-3d;
    padding: 20px;
}
/*my services conetent*/
.services .row{overflow: hidden;}
.services-content::before , .services-content::after
{
    position: absolute;
    font-size: 50px;
    color: #fff;
    opacity: 0;
    transition: all 0.5s ease 0.3s;
    -webkit-transition: all 0.5s ease 0.3s;
    -moz-transition: all 0.5s ease 0.3s;
    -ms-transition: all 0.5s ease 0.3s;
    -o-transition: all 0.5s ease 0.3s;
}
.services-content::before 
{
    content: 'MY';
    top: 15px;
    left: -80px;
}
.services-content::after 
{
    content: 'SERVICE';
    bottom: 15px;
    right: -80px;
}
.services-content:hover::before , .services-content:hover::after { opacity: 0.03;}
.services-content:hover::before  {left: 15px;}
.services-content:hover::after {right: 15px;}
/*my services conetent*/
.services-content h4 
{
    letter-spacing: 1px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    transition: 0.5s;
    transform: translate3d(0, 0, 40px);
    -webkit-transform: translate3d(0, 0, 40px);
    -moz-transform: translate3d(0, 0, 40px);
    -ms-transform: translate3d(0, 0, 40px);
    -o-transform: translate3d(0, 0, 40px);
    opacity: .5;
}
.services-title p {font-weight: 300; font-size: 14px;}
.service-img {padding: 3% 0;}
.service-img-color 
{
    position: absolute; 
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 85px;
    height: 85px;
    background-color: #c004d9;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    z-index: -1;
}
.services-content:hover
{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.services-content:hover h4 
{
    transform: translate3d(0, 0, 60px);
    -webkit-transform: translate3d(0, 0, 60px);
    -moz-transform: translate3d(0, 0, 60px);
    -ms-transform: translate3d(0, 0, 60px);
    -o-transform: translate3d(0, 0, 60px);
    opacity: 1;
}
.services-content:hover .service-img-color 
{
    top: -17%;
    width: 115px;
    height: 115px;
    background-color: #138AF2;
}
.services-content:hover .service-data
{
    transform: translate3d(0, 0, 30px);
    -webkit-transform: translate3d(0, 0, 30px);
    -moz-transform: translate3d(0, 0, 30px);
    -ms-transform: translate3d(0, 0, 30px);
    -o-transform: translate3d(0, 0, 30px);
}
/*end of services*/

/*start of projects*/
#projects .section-title h1::after {content:'P';}
.project {padding: 5px;}
.projects-list li 
{
    display: inline;
    padding: 0 5px;
    cursor: pointer;
    opacity: 0.4;
}
.projects-list li.active
{
    opacity: 1;
    color: #138AF2;
}
.project-img {overflow: hidden;}
.project-img img
{
    transition: transform ease 1.5s;
    -webkit-transition: transform ease 1.5s;
    -moz-transition: transform ease 1.5s;
    -ms-transition: transform ease 1.5s;
    -o-transition: transform ease 1.5s;
}
.project-deatils
{
    cursor: pointer;
}
.project-deatils:hover .project-img img
{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
/*end of projects*/


/*start of contact us */
/*start of form*/
#contact .section-title h1::after {content: 'F';}
.form .form-group
{
    position: relative;
    overflow: hidden;
}
.form  input
{
    width: 100%;
    height: 100%;
    border: none;
    padding: 20px 0 0 0;
    outline: none;
}

.form .label-content
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    pointer-events: none;
    border-bottom: solid 1px #969696;
    
}
.form  .label-content::after
{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: -1px;
    border-bottom: 2px solid #138AF2;
    transform: translateX(-101%);
    -webkit-transform: translateX(-101%);
    -moz-transform: translateX(-101%);
    -ms-transform: translateX(-101%);
    -o-transform: translateX(-101%);
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
}
.span-data 
{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.form input:focus + .label-content  .span-data , form input:valid + .label-content  .span-data 
{
    transform: translateY(-70%);
    -webkit-transform: translateY(-70%);
    -moz-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    -o-transform: translateY(-70%);
    color:  #138AF2;
}
.form input:focus + .label-content::after , form input:valid + .label-content::after 
{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}
.form input:invalid + .label-content::after 
{
    border-bottom: solid 1px red;
}
/*end of form*/
/*end of contact us*/


/*start of footer*/
footer
{
    background: rgb(90,19,242);
    background: linear-gradient(218deg, #5a13f2 0%, #c004d9 50%);
}
/*end  of footer*/

/*respnosive screens (1024 , 768, 425, 375, 320)*/
/*start of mediaquery*/
@media only screen and (max-width: 426px) {
    /*navbar*/
    .navbar-brand{width: 15%;}
    /*header*/
    header
    {
        border-radius: 0% 0% 0% 60%/0 0 0 40%;
        -webkit-border-radius: 0% 0% 0% 60%/0 0 0 40%;
        -moz-border-radius: 0% 0% 0% 60%/0 0 0 40%;
        -ms-border-radius: 0% 0% 0% 60%/0 0 0 40%;
        -o-border-radius: 0% 0% 0% 60%/0 0 0 40%;
        background-size: 200% 100%;
}
}