/*start of intro*/

.intro
{
    background: var( --intro-bg-color );
    background: linear-gradient(45deg, #c004d965 0%, var( --intro-bg-color ) 40%);
    animation: change  10s infinite ease ;
    -webkit-animation: change  10s infinite ease ;
    position: relative;
    background-size: 130% 100%;
    /* padding: calc(5% + 1rem) 0; */
    filter: drop-shadow(-35px -10px 25px #c004d977);
    -webkit-filter: drop-shadow(-35px -10px 25px #c004d977);
    height: 95vh;
}
@keyframes change
{
    0%  , 100%  {background-position: 0 50%;}
    50%  {background-position: 100% 50%;}
}
.intro h1 span:nth-child(1)
{
    color: var(--primary-color6);
}
.intro-content
{
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    grid-auto-rows: minmax(100px , auto);
    align-items: center;
    /* padding-top: calc(5% + 10px); */
}
.intro-content  h1 {font-size: calc(1rem + 2vw)}
.intro-art{
    position: relative;
    overflow: hidden;
    width: fit-content;
    margin: auto;
}
.intro-img1{
  width: 60%;
  margin: auto;
}
.intro-img2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  width: 52%;
  height: 86.7%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #ff00c857;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  filter: drop-shadow(0 0 15px #e265ae62);
  -webkit-filter: drop-shadow(0 0 15px #e265ae62);
}
.intro-img2 img {
    width: 100%;
    position: relative;
    top: 40%;
}
/*end of intro*/
.glitch {
    position: relative;
    animation: glitch 5s 5s infinite;
    display: inline;
  }
  .glitch::before,
  .glitch::after{
    content: attr(data-text);
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 0;
    color: transparent;
    z-index: -1;
  }
  .glitch::before {
    left: -1px;
    text-shadow: -1px 0 #ff00ff;
    animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
    -webkit-animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}
  
  .glitch::after {
    left: 1px;
    text-shadow: -1px 0 lightgreen;
    animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
    -webkit-animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}
  
  @keyframes glitch {
    1% {
      transform: rotateX(10deg) skewX(20deg);
      -webkit-transform: rotateX(10deg) skewX(20deg);
      -moz-transform: rotateX(10deg) skewX(20deg);
      -ms-transform: rotateX(10deg) skewX(20deg);
      -o-transform: rotateX(10deg) skewX(20deg);
}
    2% {
      transform: rotateX(0deg) skewX(0deg);
      -webkit-transform: rotateX(0deg) skewX(0deg);
      -moz-transform: rotateX(0deg) skewX(0deg);
      -ms-transform: rotateX(0deg) skewX(0deg);
      -o-transform: rotateX(0deg) skewX(0deg);
}
  }
  @keyframes noise-1 {
    3.3333333333% {
      clip-path: inset(14px 0 58px 0);
    }
    6.6666666667% {
      clip-path: inset(54px 0 33px 0);
    }
    10% {
      clip-path: inset(54px 0 24px 0);
    }
    13.3333333333% {
      clip-path: inset(62px 0 39px 0);
    }
    16.6666666667% {
      clip-path: inset(98px 0 1px 0);
    }
    20% {
      clip-path: inset(25px 0 14px 0);
    }
    23.3333333333% {
      clip-path: inset(44px 0 50px 0);
    }
    26.6666666667% {
      clip-path: inset(57px 0 41px 0);
    }
    30% {
      clip-path: inset(54px 0 35px 0);
    }
    33.3333333333% {
      clip-path: inset(11px 0 50px 0);
    }
    36.6666666667% {
      clip-path: inset(49px 0 45px 0);
    }
    40% {
      clip-path: inset(30px 0 1px 0);
    }
    43.3333333333% {
      clip-path: inset(20px 0 50px 0);
    }
    46.6666666667% {
      clip-path: inset(46px 0 19px 0);
    }
    50% {
      clip-path: inset(11px 0 65px 0);
    }
    53.3333333333% {
      clip-path: inset(61px 0 7px 0);
    }
    56.6666666667% {
      clip-path: inset(31px 0 19px 0);
    }
    60% {
      clip-path: inset(100px 0 1px 0);
    }
    63.3333333333% {
      clip-path: inset(4px 0 13px 0);
    }
    66.6666666667% {
      clip-path: inset(65px 0 3px 0);
    }
    70% {
      clip-path: inset(36px 0 23px 0);
    }
    73.3333333333% {
      clip-path: inset(60px 0 2px 0);
    }
    76.6666666667% {
      clip-path: inset(55px 0 22px 0);
    }
    80% {
      clip-path: inset(30px 0 71px 0);
    }
    83.3333333333% {
      clip-path: inset(24px 0 64px 0);
    }
    86.6666666667% {
      clip-path: inset(83px 0 17px 0);
    }
    90% {
      clip-path: inset(56px 0 1px 0);
    }
    93.3333333333% {
      clip-path: inset(9px 0 53px 0);
    }
    96.6666666667% {
      clip-path: inset(44px 0 3px 0);
    }
    100% {
      clip-path: inset(70px 0 19px 0);
    }
  }
  @keyframes noise-2 {
    0% {
      clip-path: inset(19px 0 54px 0);
    }
    3.3333333333% {
      clip-path: inset(97px 0 1px 0);
    }
    6.6666666667% {
      clip-path: inset(32px 0 6px 0);
    }
    10% {
      clip-path: inset(29px 0 35px 0);
    }
    13.3333333333% {
      clip-path: inset(24px 0 19px 0);
    }
    16.6666666667% {
      clip-path: inset(51px 0 42px 0);
    }
    20% {
      clip-path: inset(49px 0 13px 0);
    }
    23.3333333333% {
      clip-path: inset(27px 0 14px 0);
    }
    26.6666666667% {
      clip-path: inset(13px 0 58px 0);
    }
    30% {
      clip-path: inset(80px 0 19px 0);
    }
    33.3333333333% {
      clip-path: inset(58px 0 36px 0);
    }
    36.6666666667% {
      clip-path: inset(71px 0 2px 0);
    }
    40% {
      clip-path: inset(93px 0 2px 0);
    }
    43.3333333333% {
      clip-path: inset(98px 0 2px 0);
    }
    46.6666666667% {
      clip-path: inset(33px 0 28px 0);
    }
    50% {
      clip-path: inset(54px 0 46px 0);
    }
    53.3333333333% {
      clip-path: inset(78px 0 1px 0);
    }
    56.6666666667% {
      clip-path: inset(72px 0 6px 0);
    }
    60% {
      clip-path: inset(39px 0 62px 0);
    }
    63.3333333333% {
      clip-path: inset(4px 0 49px 0);
    }
    66.6666666667% {
      clip-path: inset(60px 0 36px 0);
    }
    70% {
      clip-path: inset(73px 0 13px 0);
    }
    73.3333333333% {
      clip-path: inset(8px 0 65px 0);
    }
    76.6666666667% {
      clip-path: inset(6px 0 33px 0);
    }
    80% {
      clip-path: inset(27px 0 19px 0);
    }
    83.3333333333% {
      clip-path: inset(29px 0 63px 0);
    }
    86.6666666667% {
      clip-path: inset(66px 0 3px 0);
    }
    90% {
      clip-path: inset(73px 0 26px 0);
    }
    93.3333333333% {
      clip-path: inset(26px 0 56px 0);
    }
    96.6666666667% {
      clip-path: inset(41px 0 43px 0);
    }
    100% {
      clip-path: inset(63px 0 24px 0);
    }
  }